/* Feuille de style */

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #000814;
    color: aliceblue;
    text-decoration: none;
}

body > header {
    background-color: #FFC300;
    color: #001D3D;
    text-align: center;
    margin-bottom: .7em;
    border-radius: .7em;
}

body > main {
    background-color: #003566;
    padding: .7em .7em 0 .7em;
    margin-bottom: .7em;
    border: .7em solid #003566;
    border-radius: .7em;
    flex-grow: 1;
    overflow: auto;
}

.list {
    display: flex;
    flex-direction: column;
}


/*
    Style pour la collection de Series (TvShow)
    index.php
*/

.serie:nth-child(odd) {
    background-color: #001D3D;
    padding: 1em;
    margin-bottom: .7em;
    border-radius: .7em;
    display: flex;
}

.serie:nth-child(even) {
    background-color: #001D3D;
    padding: 1em;
    margin-bottom: .7em;
    border-radius: .7em;
    display: flex;
    flex-direction: row-reverse;
}

.serie > div:nth-child(2) {
    margin: 1em;
}

.serie > div:nth-child(1) {
    display: flex;
    justify-content: center;
    align-items: center;
}


/*
    Style pour les collections de Saison d'une serie (Season)
    serie.php
*/

.season {
    background-color: #001D3D;
    padding: 1em;
    margin-bottom: .7em;
    border-radius: .7em;
    display: flex;
    text-decoration: none;
}

.season:first-child > div:first-child {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 4;
}

.season > div > img {
    flex: 1;
}

.season:first-child > div:nth-child(2) {
    margin: 1em;
    flex: 8;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.season:first-child > div:nth-child(2) > p {
    align-items: flex-start;
}

.season:nth-child(1n+2) {
    align-items:center;
}

.season:nth-child(1n+2) > div:nth-child(2) {
    padding: 1em;
}

.season:nth-child(1n+2) h2 {
    color: #FFD60A;
}

.season:nth-child(1n+2) > div:first-child {
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*=============================================*/

body > footer {
    background-color: rgb(53, 53, 53);
    text-align: center;
    padding: .7em;
    border-radius: .7em;
}

h3 > a {
    color: #001D3D;
    text-decoration: none;
    background-color: #FFD60A;
    padding: .5em;
    border-radius: .7em;
}

@media screen and (min-width: 960px) {
    body {
        width: 800px;
        margin: auto;
    }
}