/* Feuille de style */

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #000814;
    color: aliceblue;
}

body > header {
    background-color: #FFC300;
    color: #001D3D;
    text-align: center;
    margin-bottom: 10px;
    border-radius: 10px;
}

body > main {
    background-color: #003566;
    padding: 10px 10px 0px 10px;
    margin-bottom: 10px;
    border: 10px solid #003566;
    border-radius: 10px;
    flex-grow: 1;
    overflow: auto;
}

.list {
    display: flex;
    flex-direction: column;
}


/*
    Style pour la collection de Series (TvShow)
    index.php
*/

.serie:nth-child(odd) {
    background-color: #001D3D;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 10px;
    display: flex;
}

.serie:nth-child(even) {
    background-color: #001D3D;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: row-reverse;
}

.serie > div:nth-child(2) {
    margin: 15px;
}

.serie > div:nth-child(1) {
    display: flex;
    justify-content: center;
    align-items: center;
}


/*
    Style pour les collections de Saison d'une serie (Season)
    serie.php
*/

.season:nth-child(1) {
    background-color: #001D3D;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 10px;
    display: flex;
}

.season:first-child > div:first-child {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 4;
}

.season:first-child > div:nth-child(2) {
    margin: 15px;
    flex-grow: 8;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.season:first-child > div:nth-child(2) > p {
    align-items: flex-start;
}

/*=============================================*/

body > footer {
    background-color: rgb(53, 53, 53);
    text-align: center;
    padding: 10px;
    border-radius: 10px;
}

a {
    color: #001D3D;
    text-decoration: none;
    background-color: #FFD60A;
    padding: 5px 7px 5px 7px;
    border-radius: 10px;
}

@media screen and (min-width: 960px) {
    body {
        width: 800px;
        margin: auto;
    }
}